* {
  box-sizing: border-box;
}

html {
  --gradient: linear-gradient(to right bottom, #48217a, #0f1a63);
  --color-text: rgba(255, 255, 255, 0.8);
  --color-quote: white;
  --color-action: #c96894;
}

body {
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  background-image: url("/docs/background.jpg");
}

a {
  text-decoration: none;
}

@keyframes pop {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #240c58;
  padding-top: 20px;
  text-align: center;
}

.topquote-title {
  color: #c96894;
  text-decoration: solid;
  font-size: 25px;
}
