* {
  box-sizing: border-box;
}

html {
  --gradient: linear-gradient(to right bottom, #48217a, #0f1a63);
  --color-text: rgba(255, 255, 255, 0.8);
  --color-quote: white;
  --color-action: #c96894;
}

body {
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  background-image: url("/docs/background.jpg");
}

a {
  text-decoration: none;
}

@keyframes pop {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #240c58; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
